.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

html {
  height: 100%;
}

body {
  font-size: 110%;
  font-family: monospace;
  height: 100%;
  background-color: ghostwhite;
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.metronome {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.control-group {
  margin: 1em;
}

.field {
  width: 2em;
  text-align: center;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  padding-bottom: 0;
  display: block;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.field-label {
  display: block;
}

.field:focus {
  background-color: black;
  color: ghostwhite;
}

.bpm-field,
.volume-field {
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  background: none;
  border: 0;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.icon-button:active, .icon-button:focus {
  outline: 0;
  background-color: black;
  color: ghostwhite;
}

.icon-button::-moz-focus-inner {
  border: 0;
}

.little-button {
  width: 4em;
  height: 4em;
  border-radius: 4em;
  margin: 0.2em;
}

.big-button {
  background-color: dodgerblue;
  color: ghostwhite;
  padding: 4em;
  border-radius: 9em;
  text-align: center;
}

.big-button svg {
  width: 5em;
  height: 5em;
}

.value {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

#start-button svg {
  position: relative;
  left: 0.35em;
}

#volume-down-button svg {
  position: relative;
  left: 0.3em;
}

@media all and (min-width: 40em) {
  .metronome {
    flex-direction: row;
  }
}
