html {
  height: 100%;
}

body {
  font-size: 110%;
  font-family: monospace;
  height: 100%;
  background-color: ghostwhite;
}

.main {
  display: flex;
  align-items: center;
  height: 100%;
}

.metronome {
  width: 20em;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
}

.control-group:not(:last-child) {
  margin-bottom: 1em;
}

.big-button {
  font-size: 2em;
  background-color: tomato;
  border: 0;
  width: 100%;
  font-family: inherit;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.field {
  width: 2em;
  text-align: center;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  padding-bottom: 0;
  display: block;
}

.field-label {
  display: block;
}

.field:focus {
  background-color: yellow;
}

.bpm-field, .volume-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  background: none;
  border: 0;
}

.value {
  font-size: 1.5em;
}

.hidden {
  display: none;
}
